.bodyA {
    background-color: lightblue;
}
.pB{
    background-color: lightgreen;
}

.bodyC{
    background-image: url(passaro.jpg);
}

.bodyD {
    background-image: url(passaro.jpg);
    background-repeat: repeat-y;
}

.bodyE {
    background-image: url(passaro.jpg);
    background-repeat: no-repeat;
}

.bodyF {
    background-image: url(passaro.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.bodyG {
    background-color: yellow;
    background-repeat: no-repeat;
    background-position: center;

}
.bodyG .imagem {
    background-image: url(passaro.jpg);
    width: 800px;
    height: 700px;
    position: fixed;
}